.info{
    font-size: 20px;
    margin-left: 5px;
    font-family: 'Baloo Da 2', cursive;
}
.address{
    margin-left: 5px;
    font-size: 15px;
    color: grey;
    font-style: italic;
    margin-bottom: 15px;
    font-family: 'Baloo Da 2', cursive;
}
h2{
    margin-bottom: 0px;
    font-family: 'Baloo Da 2', cursive;
}
.container{
    margin-top: 10px;
}
.icon{
    color: rgb(0, 110, 255);
}
.singleUser{
    margin-left: 11%;
}
.loading{
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
}
.singleuserName{
    margin: 0px;
}
@media screen and (max-width: 810px) {
    .singleUser{
        margin-left: 0px;
    }
    .singleuserName{
        font-size: 34px;
    }
}
