
.aboutApp{
    display: flex;
    min-height: 77vh;
    flex-direction: column;
    padding-left: 20%;
    padding-top: 2%;
    margin-bottom: 20px;
}
p{
    font-family: 'Baloo Da 2', cursive;
    font-size: 20px;
    padding: 10px;
}
@media screen and (max-width: 810px) {
    .aboutApp{
    padding-left: 5%;
} 
}
@media screen and (max-width: 810px) and (min-height: 700px) {
    .aboutApp{
        min-height: 78vh
    }
}
@media screen and (max-width: 810px) and (max-height: 600px) {
    .aboutApp{
        min-height: 72vh
    }
}
@media screen and (max-width: 810px) and (min-height: 800px) {
    .aboutApp{
        min-height: 82vh
    }
}
@media screen and (max-width: 810px) and (min-height: 815px) {
    .aboutApp{
        min-height: 81vh;
    }
}
