.contact{
    padding: 20px;
    font-family: 'Baloo Da 2', cursive;
    margin-left: 12%;
    display: flex;
    min-height: 80vh;
    flex-direction: column;
}
.contactHead{
    font-family: 'Baloo Da 2', cursive;
    font-size: 35px;
}
@media screen and (max-width: 810px) {
    .contact{
        margin-left: 0px;
        min-height: 80vh;
    }
    .contactHead{
        font-size: 25px;
    }
}
@media screen and (max-width: 810px) and (min-height: 700px) {
    .contact{
        min-height: 81vh
    }
}
@media screen and (max-width: 810px) and (max-height: 600px) {
    .contact{
        min-height: 76vh
    }
}
@media screen and (max-width: 810px) and (min-height: 800px) {
    .contact{
        min-height: 83vh
    }
}
@media screen and (max-width: 810px) and (min-height: 815px) {
    .contact{
        min-height: 83vh;
    }
}