.contact{
    padding: 20px;
    font-family: 'Baloo Da 2', cursive;
    margin-left: 12%;
    display: flex;
    min-height: 79vh;
    flex-direction: column;
}
h2{
    font-family: 'Baloo Da 2', cursive;

}
@media screen and (max-width: 810px) {
    .contact{
        margin-left: 0px;
    }
}