.heading{
    margin: 50px;
    text-align: center;
    color: white;
}
.welcome{
    background-image: url('../../../assets/imgs/bg3.png');
    background-size: cover;
    width: 100%;
    height: 100% !important;
}
.welcomeHead{
    color: white;
    font-family: 'Baloo Da 2', cursive;
    font-size: 45px;
    padding-left: 42%;
    padding-top: 16%;
    padding-bottom: 16%;
    letter-spacing: 1px;
}
.aboutAppInfo{
    padding-left: 20%;
    padding-top: 2%;
    margin-bottom: 20px;
}
.viewUsers, .viewPosts{
    margin: 10px;
    width: 100px;
}
p{
    font-family: 'Baloo Da 2', cursive;
    font-size: 20px;
    padding: 10px;
}

.about{
    font-family: 'Baloo Da 2', cursive;
    font-size: 40px;
    margin-bottom: 10px;
}
.homeComponent{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.btnContainer{
    width: 30% !important;
    margin: 0px !important;
}
.viewBtn{
    text-align: center;
}
@media screen and (max-width: 810px) {
    .allUsers, .allPosts{
        margin: 20px;
    }
    .welcomeHead{
        padding-top: 30%;
        padding-bottom: 30%;
        padding-left: 0px;
        font-size: 175%;
        text-align: center;
    }
    .btnContainer{
        width: 100% !important;
    }
    .aboutAppInfo{
        padding-left: 5%;
    } 
}
@media screen and (max-width: 810px) and (min-height: 660px) {
    .welcomeHead{
        padding-top: 32%;
        padding-bottom: 32%;
    }
}
@media screen and (max-width: 810px) and (min-height: 700px) {
    .welcomeHead{
        padding-top: 37%;
        padding-bottom: 37%;
    }
}
@media screen and (max-width: 810px) and (min-height: 800px) {
    .welcomeHead{
        padding-top: 51%;
        padding-bottom: 51%;
    }
}
@media screen and (max-width: 810px) and (min-height: 815px) {
    .welcomeHead{
        padding-top: 49%;
        padding-bottom: 48%;
    }
}
